<div class="{{suit.name}} card-ace">
  <div class="corner top">
    <span class="number">A</span>
    <span>{{{suit.symbol}}}</span>
  </div>
  <span class="suit middle_center">{{{suit.symbol}}}</span>
  <div class="corner bottom">
    <span class="number">A</span>
    <span>{{{suit.symbol}}}</span>
  </div>
</div>
