<div class="{{suit.name}} card-jack">
  <div class="corner top">
    <span class="number">J</span>
    <span>{{{suit.symbol}}}</span>
  </div>
  <span class="face middle_center"><img src="img/faces/face-jack-{{suit.name}}.png"/></span>
  <div class="corner bottom">
    <span class="number">J</span>
    <span>{{{suit.symbol}}}</span>
  </div>
</div>
