<div class="CARD {{suit.name}} CARD-king">
  <div class="corner top">
    <span class="number">K</span>
    <span>{{{suit.symbol}}}</span>
  </div>
  <span class="face middle_center"><img src="img/faces/face-king-{{suit.name}}.png"/></span>
  <div class="corner bottom">
    <span class="number">K</span>
    <span>{{{suit.symbol}}}</span>
  </div>
</div>
