<div class='selected-hand'></div>
<div class='player-hand'>
	<div class='hand card-row collapsed'></div>
	<div class='play-button'>&#10004</div>
	<div class='pass-button'>X</div>
	<div class='pass-other-button'>Pass OTHER</div>
</div>
