<div class="selected-hand">
</div>
<div class="hand card-row collapsed">
</div>
<div class="play-button">Play
</div>
<br><br>
<div class="pass-button">Pass
</div>
<br><br><br>
<div class="pass-other-button">Pass OTHER
</div>
