<div>
<label>
  Name
  <input type='text' name='name' class='player-name'>
</label>
</div>

<div class='game-code-row'>
<label>
  Game Code
  <input type='text' name='game-code' class='game-code'>
</label>
</div>

<button class='join-button'>Join</button>
<button class='create-button'>Create new game</button>
<button class='start-button'>Start game</button>
