<div>
<label>
  Name
  <input type='text' name='name' class='player-name'>
</label>
</div>

<div>
<label>
  Game Code
  <input type='text' name='game-code' class='game-code'>
</label>
</div>
<button class='join-button'>Join</button>
